/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
   
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* base */
html, body{
    width:100%;
    height:100%;
    overflow: hidden;
    background-color:rgb(13,13,13);
}
nav{
    padding-top:10px;
    margin-bottom:10px;
    min-height: 50px;
    width:100%;
    background-color:rgb(70,70,70);
}
.leftt{   
     width: 49%;
display: inline-block;
text-align: center;

}
.rightt{
   width: 49%;

display: inline-block;
text-align: center;

}
#nav-level-one{
    border-bottom:1px solid rgb(170,170,170);
    width:100%;
    min-height:50px;
}
#nav-level-two{
    border-bottom:1px solid rgb(170,170,170);
    width:100%;
    min-height:30px;
    display: none;
}
#nav-level-three{
    border-bottom:1px solid rgb(170,170,170);
    width:100%;
    min-height:30px;
    display:none;
}
.row{
    width:100%;
    height:200px;
    position: absolute;
    bottom:30vh;
    margin-left:40px;
    margin-right:40px;
}
.row.p-view{
    bottom:22vh;
    display:none;
}
.column{
    width:200px;
   
    height:140px;
    display:inline-block;
}
#logo{
   
    position: relative;
    width:155px;
    margin:0 auto;
}
#logo img{
     margin:0 auto;
     width:155px;
     display:block;
     position:absolute;
}
#overlay-toggle{
    background-color:white;
    width:100px;
    height:40px;
    text-align: center;
    padding-top: 16px;
    position:fixed;
    top: 0;
    left: 0;
}
.menu-button a{
    color: #FFFFFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 20px 6px 20px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin-top:26px;
}
.menu-button a:hover{
    background-color:rgb(209,40,39);
}
.menu-button{
display: inline-block;
}
#project-view{
    height:73%;
    top:5%;
    width:80%;
    left:10%;
    z-index:4;
    position: relative;
    background-color:white;
    display:none;
    opacity:0;
    
}
.project-description{
    left:-100%;
    opacity:0;
    padding-left:16px;
    margin-bottom:100px;
}
.project-image-gallery{
    width:100%;
     right:-100%;
     opacity:0;
     display:none;
}
.project-image-gallery img{
    width:100%;
    margin-top:-2px;
}
.show-path{
    font-weight: 600;
    padding-top:16px;
    font-size:20px;
    color:#333;
}
.backface-content-area{
    overflow-y: scroll;
    margin-bottom:60px;
    
}
.project-content{
    color:#333;
    font-size:16px;
    padding-top:24px;
    margin-right:80px;
}
.show-path{
    font-size:16px;
}
.project-title{
    margin-right:90px;
    padding-top:16px;
    font-size:34px;
    color:rgb(209,40,39);
      font-family: Verdana, sans-serif;
}
.project-image-gallery{
    
}
.close{
    width:100%;
    color: white;
    font-size:32px;
    text-align:center;
    padding-top:10px;
}
.b-f{
    color:white;
    text-align: center;
    width:100px;
    font-family:Verdana, sans-serif;
    padding-top:10px;
}
#previous-project{
    float:left;
    padding-left:10px;
}
#next-project{
    float:right;
}
.view-toggle{
    width:80%;
    margin-top:10px;
    margin-left:10%;
   margin-right:10%;
    border-radius:100%;
    
    height:40px;
    background-image:url(../img/camera.png);
    background-size:80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.backface-side-nav{
    position: absolute;
    right: 0;
    top:0;
    width:40px;
    height: 100%;
    background-color:rgb(105,105,105);
}
.backface-botnav{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:40px;
    background-color:rgb(209,40,39);
}

.project-backface{
    
    height:100%;
    width:100%;
    z-index:3;
    background-color:pink;
    position: absolute;
  
    display:none;
    
}
.backface-content-area{
    height:100%;
    width:100%;
}
.project.active .project-backface{
    display: block;
}
#project-grid{
   
    transform-style: preserve-3d;
    height: 100%;
    -webkit-transform-style: preserve-3d;

   
}
body::selection {
  background:transparent; /* WebKit/Blink Browsers */
  color:transparent;
}
body::-moz-selection {
  background: transparent; /* Gecko Browsers */
  color:transparent;
}
#project-grid::selection {
  background:transparent; /* WebKit/Blink Browsers */
  color:transparent;
}
#project-grid::-moz-selection {
  background: transparent; /* Gecko Browsers */
  color:transparent;
}
#main-perspective-container::selection {
  background:transparent; /* WebKit/Blink Browsers */
  color:transparent;
}
#main-perspective-container::-moz-selection {
  background: transparent; /* Gecko Browsers */
  color:transparent;
}
#main-perspective-container{
    -webkit-perspective: 1000px; /* Chrome, Safari, Opera */
    perspective: 1000px;
    
    perspective-origin: 50% -20px;
    -webkit-perspective-origin:50% -20px;
    -ms-perspective-origin: 50% -20px;
    -moz-perspective-origin: 50% -20px;
    transform-style: preserve-3d;
    height: 100%;
    width:100%;
     overflow: hidden;
     -moz-transform-style: preserve-3d;
}
#main-perspective-container.clicked{

}
.project{
    width:100%;
    height:100%;
    
    position: relative;
   
}
.project:hover{
    z-index:2;
}
.overlay{
    position:relative;
    float:left;
    height:100%;
    width:100%;
    z-index:2;
    background-color:rgb(209,40,39);
    display:none;
 
}

.project.hover > .overlay{
    display:block;
}
.project-thumbnail{
    background-image:url(../img/missing-image.png);
    background-size:100% 100%;
    height:100%;
    width:100%;
  
}
.bottom-border{
    height:8px;
    width:100%;
    background-color:red;
    position: relative;
    bottom:0;
 
}