/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}*/


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin-bottom: -176px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* base */

#sale {
    height: 40px;
    background-color: #081023;
    color: white;
    text-align: center;
    line-height: 40px;
}
   @media screen and (max-width: 480px) {
#sale{
    font-size:11px;
}
}
#menu {
    height: 94px;
    background-color: transparent;
    padding-left: 30px;
    padding-top: 30px;
    top: 0;
    z-index: 3;
    border-bottom:1px solid white;
      width: 100%;
      float: left;
}
 @media screen and (max-width: 480px) {
#menu {
    padding-left: 16px;
    padding-right:16px;
}
}
/*
.menu-border {
    margin-bottom: 94px;
    z-index: 3;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid white;

}*/

#menu-button {
    width: 50px;
    cursor: pointer;
}
 
#cata #menu-button {
    margin-bottom: 0px;
    position: absolute;
    top: 5px;
    left: 30px;

}
@media screen and (max-width: 480px) {
#cata #menu-button {
    width: 40px;
    left: 16px;
}
}
#hero {
    height: 500px;
    background: url('../img/domo-imgs_0005_Header-Image.png')
}

#cata {
    background-color: white;
    height: 94px;
    line-height: 94px;
    width: 100%;
    top: 0;
    z-index: 2;
}

#side-menu {
    height: 100%;
    width: 400px;
    transform: translatex(-100%);
    z-index: 4;
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    transition: all .3s ease;
}
 @media screen and (max-width: 480px) {
#side-menu {
    width: 100%;
}
}
#side-menu ul {
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 2em;
}

#side-menu ul a {
    color: white;
    text-decoration: none;
    display: block;
}

#side-menu ul a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button-container {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

#more-images {
    margin: 0 auto;
    width: 160px;
    height: 40px;
    background-color:white;
    border-radius:12px;
    border:2px solid #999;
}

#side-menu.open {
    transform: translatex(0);
}

#cata .cat-button {
    text-decoration: none;
    color: #666;
    text-align: center;
    box-sizing: border-box;
    margin: -4px auto;
    width: 100px;
}
  @media screen and (max-width: 600px) {
#cata .cat-button {
    font-size:12px;
    width: 70px;
}
}
  @media screen and (max-width: 480px) {
#cata .cat-button {
    font-size:10px;
    width: 50px;
}
}
#cata .cat-button:hover {
    color: black;
}

.center {
    text-align: center;
}

.cat-button.active {
    padding-bottom: 35px;
    border-bottom: 4px solid #622a9a;
}

#close-menu {
    color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

#photo-gallery {
    background-color: #ededee;
    min-height: 840px;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
}

#photo-gallery .img-container {
    width: 90%;
    margin: 0 auto;
}

#photo-gallery .img-container img {}

#footer {
    background-color: #280c21;
    height: 176px;
    position: relative;
    bottom: 0;
}

#footer .copyright {
    background-color: #170713;
    height: 40px;
    position: absolute;
    bottom: 0;
}

.modals {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.modals.active {
    display: block;
}


/*full-size only*/

.modals .modal-container {
    margin-top: 20vh;
    height: 40vh;
    background-color: #622a9a;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.modals .modal-container .modal-left-img {
    display: inline-block;
    height: 100%;
    width: 40%;
    float: left;
}

.modals .modal-container .modal-left-img img {
    height: 100%;
    width: 100%;
}

.modals .modal-container .modal-text-box {
    overflow-y: scroll;
    display: inline-block;
    float: right;
    width: 60%;
    font-size: 24px;
    height: 100%;
    color: white;
    padding-left: 1em;
    padding-top: 1em;
}

.modal-close {
    background-color: black;
    border-radius: 100%;
    color: white;
    font-size: 44px;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: .3em;
    padding-top: .2em;
    cursor: pointer;
}

#lightbox.modals .modal-container {
    background-color: transparent;
}

#lightbox img {
    max-height: 100%;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    top: 20vh;
}

.img-container img {
    cursor: pointer;
}

#logo {
    color: white;
    font-size: 4em;
    text-align: center;
    margin-top: 1.5em;
}

.social {
    text-align: center;
    margin-top: .4em;
}

.social a.icon {
    margin-left: 4px;
    margin-right: 4px;
    height: 26px;
    width: 26px;
    display: inline-block;
    background-color: #622a9a;
    background-size: 100% 100%;
}

.social .icon img {
    max-width: 100%;
    max-height: 100%;
}

.icon.facebook-icon {
    background-image: url('../img/facebook-icon.png');
}

.icon.twitter-icon {
    background-image: url('../img/twitter-icon.png');
}

.icon.insta-icon {
    background-image: url('../img/instagram-icon.png');
}

.icon.facebook-icon {
    background-image: url('../img/facebook-icon.png');
}

#footer .social {
    height: 136px;
    padding-top: 10px;
    line-height: 136px;
}

#footer .social a.icon {
    margin-left: 8px;
    margin-right: 8px;
    height: 56px;
    width: 56px;
    display: inline-block;
    background-color: #622a9a;
    background-size: 100% 100%;
    border-radius: 100%;
}
#footer .copyright{
    color:white;
    line-height:40px;
    text-align: center;
}
#footer .copyright .footer-links{
float:right;

    line-height:40px;
      position: absolute;
    bottom: 0;
    right: 3px;
}
#footer .copyright .footer-links a{
      text-decoration: none;
      color:white;
      cursor: pointer;
      font-size: 14px;
      padding-left:3px;
      padding-right:3px;
    }

/*responsive settings*/

   /* header text sizing*/
   @media screen and (max-width: 992px) {
#logo{
    font-size:3.8em;
}
}
   @media screen and (max-width: 768px) {
#logo{
    font-size:3em;
}
}
   @media screen and (max-width: 480px) {
#logo{
    font-size:2em;
}
}


/*@media (max-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}*/

@media (max-width: 768px) {
  
  .seven-cols .col-sm-1,
  .seven-cols .col-xs-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}