@font-face {
	font-family: 'DINNextRoundedLTPro-Light';
	src: url('DINNextRoundedLTPro-Light.eot?') format('eot'), 
	     url('DINNextRoundedLTPro-Light.otf')  format('opentype'),
	     url('DINNextRoundedLTPro-Light.woff') format('woff'), 
	     url('DINNextRoundedLTPro-Light.ttf')  format('truetype'),
	     url('DINNextRoundedLTPro-Light.svg#DINNextRoundedLTPro-Light') format('svg');
}

		html,body{
			font-family: 'DINNextRoundedLTPro-Light', helvetica;
			-webkit-transform: translateZ(0);
		}
		/*hacks for footer */
		html {
			height:100%;
		}
		body{
			min-height:100%;
			position: relative;
			padding-bottom:20px;
		}
		h1,h2,h3,h4,h5 {
			margin:0;
		}
		/* link styling */
		a:active{
			color:black;
		}
		a{
			text-decoration:none; 
			color:#bbb;
		}
		ul{
			margin:0;
		}

		#logo{
			
			margin:0 auto;
			margin-top:1.2em;
			margin-bottom:.5em;
			display:block;
			max-height:2em;
			
			text-align:center;
			vertical-align:text-top;
			
		}
		
		#logoimg	{
			max-height:150% ;
		}
		.arrows{
			position:absolute;
			right:5%;
			height:2em;
			top:0;
			
		}
		 .arrow-left {
		 	
		 	vertical-align:middle;
			display:inline-block;
			max-width:100%;
			width:2em;
			
			
		}
		 .arrow-right {
		 	margin-left:20px;
		 	vertical-align:middle;
			display:inline-block;
			max-width:100%;
			width:2em;
			
			
			
		}
		 .arrow-left-program {
		 	position:absolute;
		 	vertical-align:middle;
			float:left;

			max-width:6%;
			left:-30px;
			top:0%;
		}
		 .arrow-right-program {
		 	vertical-align:middle;
			position:absolute;

			max-width:6%;
			right:-47px;
			top:0%;
			/* flip image */
			-moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
		}
		#menu{
			width:100%;
			
		}
		#menu-wrapper{
			/*text-align: justify;*/
			display:block;
			margin:0 auto;
			padding:.2em;
			width:90%;
			text-align:center;
			color:#bbb;
			margin-bottom:.2em;
		}
		.submenu-wrapper{
			display:block;
			margin:0 auto;
			padding:.2em;
			width:90%;
			text-align:center;
			color:#bbb;
			margin-bottom:.2em;
		}

		#menu .menu-button{
			color:#bbb;
			font-size:.9em;
			text-align:center;
			display:inline;
			padding:5px;
			letter-spacing:-.6px;
			word-spacing:.6px; 
			
		}
		.submenu-item{
			color:#bbb;
			font-size:.8em;
			text-align:center;
			display:inline;
			padding:5px;
			letter-spacing:-.6px;
			word-spacing:.9px;
		}

		#menu .menu-button:last-child{
			border-right:none;
		}
	/*	.spacer{
			display:inline-block;
			width:2%;
			text-align:center;
			border-left:1px solid #bbb;
			line-height:1em;
		}
	*/
		#ajax-wrapper{
			width:100%;
			padding-bottom:20px;
		}
		.title-wrapper{
			margin-top:3em;
			margin-bottom:3em;
			width:100%;
			text-align:center;
		}
		.panel-title{
			line-height:.1em;
			margin:0 auto;
			text-transform:uppercase;
			font-size:2em;
			width:80%;
			color:#bbb;
		}
		
		.program-panel-title{
			line-height:1em;
			margin:0 auto;
			text-transform:uppercase;
			font-size:2em;
			width:80%;
			color:#bbb;
		}
		.program-panel-title h1, .program-panel-title h4{
			display:inline;
		}
		.panel-picture{
			position:relative;
			width:60%;
			margin:0 auto;
			text-align:center;
			vertical-align:middle;
		}
		.panel-picture img{
			border-radius:100%;
		}
		.panel-text{
			font-size:1.3em;
			margin:0 auto;
			width:80%;
			text-align:center;
			overflow-y:auto;
			word-warp:break-word;
		}
		.program .panel-text{
			text-align:justify;
		}
		.ajax-panel{
			display:none;
		}
		.active{
			display:block;
		}
		.swipeAnimating-left, .animating-left{
			/* moz*/
			-moz-animation-name: swipeAnimating-left;
			-moz-animation-duration: .2s;
			-moz-animation-timing-function: linear;
			-moz-animation-delay: 0s;
			
			-moz-animation-direction: alternate;
			-moz-animation-play-state: running;
			/*webkit */
			-webkit-animation-name: swipeAnimating-left;
			-webkit-animation-duration: .2s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: 0s;
			
			-webkit-animation-direction: alternate;
			-webkit-animation-play-state: running;
			/* Standard syntax */
			animation-name: swipeAnimating-left;
			animation-duration: .2s;
			animation-timing-function: linear;
			animation-delay: 0s;
			
			animation-direction: alternate;
			animation-play-state: running;
		}
		.swipeAnimating-right, .animating-right{
			-moz-animation-name: swipeAnimating-right;
			-moz-animation-duration: .2s;
			-moz-animation-timing-function: linear;
			-moz-animation-delay: 0s;
			
			-moz-animation-direction: alternate;
			-moz-animation-play-state: running;
			/*webkit */
			-webkit-animation-name: swipeAnimating-right;
			-webkit-animation-duration: .2s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: 0s;
			
			-webkit-animation-direction: alternate;
			-webkit-animation-play-state: running;
			/* Standard syntax */
			animation-name: swipeAnimating-right;
			animation-duration: .2s;
			animation-timing-function: linear;
			animation-delay: 0s;
			
			animation-direction: alternate;
			animation-play-state: running;
		}
		.animating-in-left{
			-moz-animation-name: animating-in-left;
			-moz-animation-duration: .4s;
			-moz-animation-timing-function: linear;
			-moz-animation-delay: 0s;
			-moz-animation-iteration-count: 1;
			-moz-animation-play-state: running;
			/*webkit */
			-webkit-animation-name: animating-in-left;
			-webkit-animation-duration: .4s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: 0s;
			
			-webkit-animation-play-state: running;
			/* Standard syntax */
			animation-name: animating-in-left;
			animation-duration: .4s;
			animation-timing-function: linear;
			animation-delay: 0s;
			
			animation-play-state: running;
		}
		.animating-in-right{
			-moz-animation-name: animating-in-right;
			-moz-animation-duration: .4s;
			-moz-animation-timing-function: linear;
			-moz-animation-delay: 0s;
			
			-moz-animation-play-state: running;
			/*webkit */
			-webkit-animation-name: animating-in-right;
			-webkit-animation-duration: .4s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: 0s;
			
			-webkit-animation-play-state: running;
			/* Standard syntax */
			animation-name: animating-in-right;
			animation-duration: .4s;
			animation-timing-function: linear;
			animation-delay: 0s;
			
			animation-play-state: running;
		}
		/* animations */

		/* animating out */
		@-webkit-keyframes swipeAnimating-right
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		}

		@keyframes swipeAnimating-right
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		}

		@-moz-keyframes swipeAnimating-right
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		}

		@-webkit-keyframes swipeAnimating-left
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(-100%);
		-ms-transform:translateX(-100%); /* IE 9 */
		-webkit-transform:translateX(-100%);}
		}

		@keyframes swipeAnimating-left
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(-100%);
		-ms-transform:translateX(-100%); /* IE 9 */
		-webkit-transform:translateX(-100%);}
		}
		@-moz-keyframes swipeAnimating-right
		{
		0%   {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		100% {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		}

		/*animating in*/
		@-webkit-keyframes animating-in-left
		{
		0%   {transform:translateX(-100%);
		-ms-transform:translateX(-100%); /* IE 9 */
		-webkit-transform:translateX(-100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		@keyframes animating-in-left
		{
		0%   {transform:translateX(-100%);
		-ms-transform:translateX(-100%); /* IE 9 */
		-webkit-transform:translateX(-100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		@-moz-keyframes animating-in-left
		{
		0%   {transform:translateX(-100%);
		-ms-transform:translateX(-100%); /* IE 9 */
		-webkit-transform:translateX(-100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		@-webkit-keyframes animating-in-right
		{
		0%   {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		@keyframes animating-in-right
		{
		0%   {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		@-moz-keyframes animating-in-right
		{
		0%   {transform:translateX(100%);
		-ms-transform:translateX(100%); /* IE 9 */
		-webkit-transform:translateX(100%);}
		100% {transform:translateX(0%);
		-ms-transform:translateX(0%); /* IE 9 */
		-webkit-transform:translateX(0%);}
		}

		/* button temporary */
		.button {
			width:80%;
			background-color:#B284BE;
			-webkit-border-radius: 25px;
			-moz-border-radius: 25px;
			border-radius: 25px;
			margin: .6em auto;
			border: 1px solid rgba(0,0,0,0.4) ;
			box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
				0 0 1px 1px rgba(255,255,255,0.8),
				0 0 0 6px rgba(0,0,0,0.06),
				0 0 0 3px rgba(0,0,0,0.1);
			cursor: pointer;
		}	
		.title {
			padding:.2em;
			text-align:center;
			color: #fff;
			text-shadow: 1px 1px rgba(0,0,0,0.2);
			text-transform: uppercase;
		}
		.menu-trigger{
			position:absolute;
			display:inline-block;
			height:2em;
			width:2em;
			left:5%;
			vertical-align:text-top;
		}
		.indicator{
			height:2em;
			width:2em;
			left:15%;
			font-size:1em;
			position:absolute;
			vertical-align:text-bottom;
			display:inline-block;
			
		}
		.indicator img{
			
			max-width:100%
		}
		.menu-trigger img{
			
			max-width:100%;
			
		}
		
		.footer{
			text-align:center;
			position:absolute;
			color:#bbb;
			font-size:.9em;
			display:block;
			bottom:0;
			width:100%;
			height:20px;
		}
		.footer .menu-button{
			display:inline;
			text-align: center;
		}
		

		/* panel menu styles */
		.jPanelMenu-panel{
			z-index:-1 !important;
		}
		#jPanelMenu-menu{
			background-color:#f5f4f2;
			color:black;
			overflow-y:hidden;
			overflow-x:hidden;
		}
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button a{
			color:black;
			
		}
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button {
			color:black;
			width:100%;
			font-size:1.4em;
			text-align:left;
			margin-top:.2em;
			margin-bottom:.2em;
			padding:.2em;
			padding-left:1em;
		}
		#jPanelMenu-menu .panel-submenu-wrapper .panel-submenu-item{
			color:black;
			width:100%;
			
			display:block;
			text-align:left;
			margin-top:.3em;
			margin-bottom:.3em;
			padding:.4em;
			padding-left:.1em;
			display:none;
			vertical-align:top;
		}

		#jPanelMenu-menu .panel-submenu-wrapper .panel-submenu-item:last-child{
			border-bottom:none;
		}
		#the-panel-menu{
		display:none;
		}
		.panel-arrow{
			margin-left:1em;
			width:1.4em;
		}
		.panel-arrow img{
			max-height:30%;
			max-width:30%;
			vertical-align:text-bottom;
		}
		.question{
			margin-top:1em;
			font-size:1.5em;
		}
		.answer{
			margin-top:1em;
			color:#bbb;
			display:none;
			font-size:1.2em;
		}
		.spacer{
			margin-top:2em;
		}
		.submenu{
			display:none;
		}
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button .where-you-are-main,
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button .where-you-are-main a,
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button .panel-submenu-item .where-you-are-main,
		#jPanelMenu-menu #panel-menu-wrapper .panel-menu-button .panel-submenu-item .where-you-are-main a
		{
			color:#00A9DF;
			
		}
		form{
			font-size:1.5em;
			text-align:left;
			width:80%;
			margin:2em auto;
		}
		.formspace{
			margin-top:1em;
		}
		input {
		margin-top: -1px;
  		vertical-align: middle;
  		margin:.4em;
		}
