body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
.parallax1{
background-image:url("parallaxbackground.jpg");
width:100%;
height:2000px;
background-attachment:fixed;
background-size:cover;
background-repeat:no-repeat;

}
.parallax2{
background-image:url("gear.png");
height:50%;
width:50%;
background-repeat: no-repeat;
background-attachment:fixed;
background-size:contain;
background-color:white;
border-color:green;
}