@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);

/*bleep*/
html,body{
height:100%;
}

body{
overflow-x:hidden;
margin:0;
padding:0;
/*background-image:url(gray_jean.png);*/
background-repeat: repeat;
}
a:link.,a:visited,a:hover,a:active{
text-decoration:none;
color:inherit;
}
a{
	text-decoration: none;
}
nav{
box-sizing:border-box;
-moz-box-sizing:border-box;
padding-top:auto;
background-color:black;
height:3%;
width:100%;
text-align: center;
padding-left:5%;
}

.top {
width:25%;
background-color:blue;
border:3px solid white;
float:left;
display:inline-block;
}

ul{
list-style:none;
list-style-type:none;
}

.Works{
font-family: "Open Sans" "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
margin:0 auto;
text-decoration:none;
width:96%;
margin-top:30px;
}
.Works h1{
margin:0;
padding:0;
text-align:center;
background-color:black;
color:white;
}
.Works .inner{
width:100%;
 -webkit-column-count:3;
 -webkit-column-gap:20px;
 -moz-column-count:3;
 -moz-column-gap:20px;
 column-count:3;
 column-gap:20px;
}
.innertitle{
	text-align: center;
	margin-top:.5em;
	width:100%;
	background-color:rgb(100,100,100);
	color:white;
	font-size:1.3em; 
}

.2colum{
 -webkit-column-count:2;
 -webkit-column-gap:20px;
 -moz-column-count:2;
 -moz-column-gap:20px;
 column-count:2;
 column-gap:20px;
}
.2colum a{
box-sizing:border-box;
-moz-box-sizing:border-box;
margin-top:1em;
text-align:center;
display:inline-block;
background-color:none;
height:10em;
margin:0 auto;
}

.Works a{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-top:1em;
	text-align:center;
	display:inline-block;
	background-color:none;
	width:100%;
	height:10em;
	border:1px solid black;
}
.info{
	height:100%;
	width:100%;
	color:transparent;
	background-color: transparent;
	overflow:hidden;
}
.info:hover{
	text-align:center;
	font-size:1.6em;
	color:black;
	text-shadow:0px 0px 30px white;
	background-color:rgba(142,240,180,.4);
	overflow:hidden;
}

#link1{
background-image:url("hithumb.jpg");
background-size:contain;
background-position: center;
background-repeat:no-repeat;
}
#link2{
background-image:url("animationtest2thumb.jpg");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}
#link3{
background-image:url("animationtest3thumb.jpg");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}
#link4{
background-image:url("");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}
#link5{
background-image:url("");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}
#link6{
background-image:url("");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
}
.right{
text-align: right;
}
/*holds the slider*/
.contentContainer{
background-color:transparent;
height:40%;
width:90%;
position:relative;
overflow: hidden;
display:block;
font:1em;
}

.contentcontainer, h3{
color:red;
}

.click{
height:100%;
width:100%;
position:absolute;
}

.content1{
font-size:1rem;
}

.content2 li{
list-style-position:inside;
list-style:disc;
}

.content2 h2{
font-size:1.5rem;
}

.content3 li{
list-style-position:inside;
list-style:disc;
}

.content4{
font-size:1.5rem;
text-indent:2em;
margin-top:1em;
}

/*holds the skills section*/
.circles{
margin:0 auto;
width:95%;
font-family: "Open Sans" "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
background-image:url(bedge_grunge.png);
border: 1px solid #c5c5c5;
-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
box-shadow: 0 10px 20px rgba(0, 0, 0, .5);

border-left:none;
border-bottom-left-radius: 0px;
border-top-left-radius:0px;

display:block;
}

/*
.box3d {
background-color:;
width: 98%; height: 10px;
border-top: solid 10px #060;
border-left: solid 10px #fff;
border-right: solid 10px #fff;
}
*/

.clear {
clear:both;
}

.circle {
width:30%;
height:100%;
margin-left:2%;
font-size:1.2rem;
color:black;
display: inline-block;
float:left;
text-align:center;
position:relative
}

.crccontain{
height:50%;
width:100%;
margin-top:5%;
display:block;
}

.textcont{
height:50%;
width:100%;
display:block;
text-align:left;
}

.textcont li{
list-style-position:inside;
list-style-type:disc;
line-height:1.5em;
opacity:0.0;
margin-left:15%;
font-weight:bold;
}

.circle h1{
font-size:2rem;
text-align:center;
}

.circle img{
margin:0 auto;	
display:block;
overflow: hidden;
border-radius:100%;
background-image-position:center;
}

.btn { 
height:95%;
text-align: center;
display: inline-block;
width:20%;
margin-left:3.5%;
color:white;
vertical-align:middle;
font-size:2em;
}


.btn{
background: #b7d770;
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
background: -moz-linear-gradient(top,  #cae285, #9fcb57);
border-color: #adc671 #98b65b #87aa4a;
color: #5d7731;
text-shadow: 0 1px 0 #cfe5a4;
-webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;    
}

.btn:hover{
background: #b9d972;
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
background: -moz-linear-gradient(top,  #b8d872, #b9d972);
border-color: #8bb14d #83a648 #7d9e45;
text-shadow: 0 1px 0 #d5e8aa;
-webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
-moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;    
}

.story {
font-family: 'Vollkorn', serif;
width:90%;
background-repeat:no-repeat;
margin-top:20px;
margin-bottom:20px;
font-size:1.3rem;
}

/*strong tags can't text indent or margin*/
.story p:first-child {
text-indent:.5em;
margin-top:2em;
}

strong{
color:#C4C4C4;
font-size:7em;
font-weight:bold;
text-shadow:1px 1px 0px #333333, -1px -1px 0px #FFFFFF;
line-height:.5em;
}

contact{
font-family: 'Vollkorn', serif;
position:fixed;
right:0;
bottom:48px;
border:4px solid orange;
border-right:none;
height:3rem;
width:10rem;
color:black;
font-size:1rem;
text-align:center;
margin:auto auto;
background-color:rgb(175,238,238);
}

contact p{
line-height:1rem;
margin:0px;
padding:0px;
}

footer{
margin-top:2em;
clear:both;
height:3em;
width:100%;
background-color:black;
bottom:0;
color:white;
font-size:2em;
text-align: center;
}

.upTo{
height:auto;
background-image:url(gray_jean.png);
display:inline-block;
font-size:1em;
color:purple;
text-align:center;
border-bottom:1px solid black;
overflow:hidden;
}

ohSnap{
display:inline-block;
float:left;
font-size:2em;
width:30%;
margin-left:3%;
}

ohSnap2{
display:inline-block;
float:left;
font-size: 1.5rem;
width:46%;
}

/* media queries
---------------------------------------------- */
@media all and (max-width: 1080px){
	
	ohSnap{
	margin-left:4%;
	font-size:1.4em;
	}
	ohSnap2{
	font-size: 1em;
	width:50%;
	}
	.info:hover{
		font-size:1em;
	}
}





@media all and (max-width: 750px) {
	
	.circle {
	width:100%;
	height:100%;
	margin-left:2%;
	font-size:1.5rem;
	color:black;
	display: block;
	text-align:center;
	}
	.circles{
	height:auto;
	width:100%;
	}
	.btn{
	font-size:1.5em;
	}
	.content4{
	font-size:1rem;
	text-indent:1em;
	margin-top:1em;
	}
	.info:hover{
		font-size:1.2em;
	}
	footer{
	margin-top:100px;
	font-size:1.1em;
	}
	
}

@media all and (max-width: 550px){
	
	.btn{
	font-size:1.1em;
	}
	.content4{
	font-size:.9rem;
	text-indent:1em;
	margin-top:1em;
	}
	footer{
	margin-top:100px;
	font-size:.9em;
	}
	ohSnap{
	margin-right:4%;
	font-size:1em;
	}
	.info:hover{
		font-size:.8em;
	}
}
@media all and (max-width: 450px){
	nav{
		height:auto;
		padding-bottom:.4em;
	}
	strong{
		font-size:3em;
	}
	.button{
		width:auto;
	}
}



/* top nav buttons copy pasted
---------------------------------------------- */
.button {
display: inline-block;
zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
*display: inline;
vertical-align: baseline;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 1em Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
font-weight:bold;
margin-right:2%;
margin-top:.5em;
}

.button:hover {
text-decoration: none;
}

.button:active {
position: relative;
top: 1px;
}

.medium {
font-size: 12px;
padding: .4em 1.5em .42em;
}

.small {
font-size: 11px;
padding: .2em 1em .275em;
}

/* white */
.white {
color: #606060;
border: solid 1px #b7b7b7;
background-image:url("pw_maze_white_@2X.png");
}

.white:hover {
color:rgb(33,66,180);
border:1px solid white;
}

.white:active {
color: #999;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
background: -moz-linear-gradient(top,  #ededed,  #fff);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}



/* animations */
.gear1{
	display:block;
	max-height:100%;
	width:auto;
	-webkit-animation: gear 10s cubic-bezier(.25,.1,.30,.8) infinite;
 	 animation: gear 10.5s cubic-bezier(.1,.2,.30,.8) infinite;
}
.gear2{
	display:block;
	max-height:100%;
	width:auto;
	-webkit-animation: gear 10s cubic-bezier(.6,.2,.3,.2) infinite;
 	 animation: gear 10s cubic-bezier(.6,.2,.3,.2) infinite;
}
.gear3{
	display:block;
	max-height:100%;
	width:auto;
	-webkit-animation: gear 10s cubic-bezier(.5,.9,.1,.1) infinite;
 	 animation: gear 10s cubic-bezier(.5,.9,.1,.8) infinite;
}


@keyframes gear {
		0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes gear {
		0% 		{ -webkit-transform: rotate(0deg); }
	50% 	{ -webkit-transform: rotate(180deg); }
	100% 	{ -webkit-transform: rotate(360deg); }
}